@import "tailwindcss";
body{
    background-color: rgb(219, 214, 207);
}
input,textarea{
    background-color: aliceblue;
    margin: 10px;
    padding: 2px;
    width: 50%;
}
button{
    padding:8px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}
button:hover{
    font-size: 110%;
    transition:all;
    transition-duration: .2s;
}
